*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mont", sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Mont ExMont ExtraLight DEMO';
  src: url("../assets/fonts/Mont-ExtraLightDEMO.woff2") format("woff2"), url("../assets/fonts/Mont-ExtraLightDEMO.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mont Heavy DEMO';
  src: url("../assets/fonts/Mont-HeavyDEMO.woff2") format("woff2"), url("../assets/fonts/Mont-HeavyDEMO.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.container {
  width: 100%;
  max-width: 1500px !important;
  padding: 0 20px !important;
  margin: 0 auto;
}

.hero {
  min-height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 240px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 364px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 240px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 364px -18px inset;
  padding-bottom: 60px;
}

.main-hero__title {
  font-weight: 800;
  font-size: 44px;
  line-height: 56px;
  color: #fff;
  margin-bottom: 25px;
}

.main-hero__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color: #fff;
  margin-bottom: 40px;
}

.general-btn {
  background: #fbbe07;
  border-radius: 100px;
  padding: 15px 32px;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: #312b2b;
  border: 1px solid #fbbe07;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.general-btn:hover {
  background-color: transparent;
  border-color: #fbbe07;
  color: #fbbe07;
}

.main-slider__btns {
  position: absolute;
  top: 0;
  left: 0;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.carousel img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 100vh;
}

.main-hero {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__img-right {
  position: relative;
  left: -100px;
  top: 300px;
}

.header__img-right img {
  width: 10px;
  height: 10px;
}

.header__img-left {
  position: relative;
  left: 80px;
  top: 300px;
}

.header__img-left img {
  width: 10px;
  height: 10px;
}

.btns {
  position: absolute;
  bottom: 60px;
}

.header-btn {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: transparent;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 34px;
  color: #9e9e9e;
}

.header-btn img {
  position: relative;
  width: 31px;
  height: auto;
}

.left {
  margin-left: 10px;
}

.right {
  margin-right: 10px;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(26, 29, 32, 0.55)), color-stop(98.28%, rgba(26, 29, 32, 0.45)));
  background: linear-gradient(90deg, rgba(26, 29, 32, 0.55) 50%, rgba(26, 29, 32, 0.45) 98.28%);
  opacity: 0.8;
}

@media screen and (max-width: 1500px) {
  .main-hero {
    width: 100% !important;
  }
  .main-hero__title {
    font-size: 30px;
  }
  .btns {
    padding-right: 50px !important;
  }
}

@media screen and (max-width: 768px) {
  .left {
    display: none;
  }
  .right {
    display: none;
  }
}

.header {
  margin-top: 20px;
  z-index: 100;
}

.header__logo-box {
  width: 100%;
  height: 100%;
  max-width: 173px;
  max-height: 80px;
  margin-right: 66px;
}

.header__logo-box img {
  width: 100%;
  height: 100%;
}

.header__top-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-top {
  padding: 0 0 18px 30px;
  border: 1px solid rgba(255, 255, 255, 0.317);
  border-top: none;
  border-right: none;
}

.header__top-item:not(:last-child) {
  margin-right: 71px;
}

.header__top-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: #fbbe07;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__top-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fbbe07;
}

.header__top-link:hover {
  color: #fbbe07;
}

.header__top-link:hover::after {
  width: 100%;
  right: 0;
}

.header__phone-box {
  margin-right: 74px;
}

.header__phone-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__phone-link .bx {
  margin-right: 10px;
  font-size: 25px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.header__phone-link:hover {
  color: #fbbe07;
}

.header__phone-link:hover .bx {
  color: #fbbe07;
}

.header__lang {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;
}

.header__lang:focus {
  outline: none;
}

.header__nav-bottom {
  padding: 20px 0 0 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.317);
}

.header__bottom-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__bottom-item:not(:last-child) {
  margin-right: 80px;
}

.header__bottom-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__bottom-link .bx {
  font-size: 20px;
  margin-left: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.header__bottom-link:hover {
  color: #fbbe07;
}

.header__bottom-link:hover .bx {
  color: #fbbe07;
}

.header__search-btn {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: #fbbe07;
  font-size: 25px;
}

.header__menu {
  border: none;
  background-color: transparent;
  color: #fbbe07;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 34px;
  display: none;
}

.black-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
  background-color: rgba(0, 0, 0, 0.735);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1500px) {
  .header__top-item:not(:last-child) {
    margin-right: 31px;
  }
  .header__phone-box {
    margin-right: 34px;
  }
  .header__bottom-item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  .header__top-list {
    display: none !important;
  }
  .header__bottom-list {
    display: none !important;
  }
  .menu-list {
    position: absolute !important;
    top: 0;
    right: -100%;
    z-index: 1000 !important;
    background-color: #fff;
    min-height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header__top-item {
    margin: 0;
    margin-bottom: 10px;
  }
  .header__bottom-link {
    color: #312b2b;
  }
  .showIt {
    right: 0;
  }
  .blackenIt {
    opacity: 1;
    z-index: 10;
  }
}

@media screen and (max-width: 768px) {
  .header__phone-box {
    display: none;
  }
  .header__bottom-link .bx {
    margin-right: 10px;
    font-size: 25px;
    color: #fbbe07;
  }
}

@media screen and (max-width: 576px) {
  .header__lang {
    display: none;
  }
  .header__menu-lang {
    border: none;
    font-size: 20px;
    margin-top: 10px;
  }
  .header__nav-box {
    width: 15% !important;
  }
  .header__nav-top {
    padding-left: 0;
  }
  .header__nav-bottom {
    padding-left: 0;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
}

.popular {
  padding: 100px 0 90px;
}

.popular__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #312b2b;
}

.popular__btn-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular__btn-item:nth-child(2) {
  margin-left: 25px;
}

.popular__btn {
  border: none;
  background-color: transparent;
}

.popular__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.popular__top {
  margin-bottom: 25px;
}

.popular__bottom {
  overflow-x: hidden;
  min-height: 420px;
}

.popular__item {
  padding: 0 15px;
}

.popular__border {
  background: #fff;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
          box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
  border-radius: 2px;
}

.popular__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular__inner {
  padding: 20px 25px 20px 20px;
}

.popular__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 165%;
  color: #312b2b;
  margin-bottom: 10px;
}

.popular__item-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #8d8d8d;
  margin-bottom: 36px;
}

@media screen and (max-width: 1500px) {
  .popular__item {
    width: 33.33333333% !important;
    min-height: 650px !important;
    padding-top: 10px;
  }
  .popular__top {
    width: 95vw;
  }
  .popular__bottom {
    width: 97vw;
    overflow: hidden;
  }
}

@media screen and (max-width: 992px) {
  .popular__item {
    width: 50% !important;
    min-height: 650px !important;
    padding-top: 10px;
  }
}

@media screen and (max-width: 576px) {
  .popular__title {
    font-size: 20px;
  }
  .popular__top {
    width: 90vw;
  }
  .popular__bottom {
    width: 93vw;
    overflow: hidden;
  }
  .popular__item {
    width: 100% !important;
    min-height: 650px !important;
    padding-top: 10px;
  }
}

.news {
  padding: 90px 0 100px;
  background: #F9F9F9;
  border-radius: 150px 0px;
}

.news__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #312b2b;
}

.news__link {
  font-weight: 600;
  font-size: 17px;
  line-height: 145%;
  color: #312b2b;
  text-decoration: none;
}

.news__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 570px (1fr)[2];
      grid-template-columns: 570px repeat(2, 1fr);
  gap: 40px;
}

.news__top {
  margin-bottom: 39px;
}

.news__item {
  position: relative;
}

.news__item:first-child {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.news__item:nth-child(2)::after {
  content: "";
  width: 120%;
  height: 1px;
  background-color: #bfbfbf;
  position: absolute;
  left: 0;
  bottom: 0;
}

.news__item:nth-child(3)::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #bfbfbf;
  position: absolute;
  left: 0;
  bottom: 0;
}

.news__img-box {
  margin-bottom: 20px;
}

.news__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__time {
  font-weight: 600;
  font-size: 17px;
  line-height: 160%;
  color: #fbbe07;
  margin-bottom: 15px;
}

.news__time span {
  position: relative;
}

.news__time span::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 100%;
  width: 100%;
  height: 1.5px;
  background-color: #fbbe07;
  -webkit-transform: translate(25px, 0);
          transform: translate(25px, 0);
}

.news__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #312b2b;
  margin-bottom: 15px;
}

.news__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #8d8d8d;
  margin-bottom: 0;
  padding-bottom: 52px;
}

@media screen and (max-width: 1400px) {
  .news__list {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 570px auto !important;
        grid-template-columns: 570px auto !important;
    width: 95vw;
  }
  .news__item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .news__item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .news__item:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .news__item:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .news__top {
    width: 95vw;
  }
}

@media screen and (max-width: 992px) {
  .news__list {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: auto !important;
        grid-template-columns: auto !important;
  }
  .news__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .news__item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .news__item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .news__item:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .news__item:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 576px) {
  .news__list {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: auto !important;
        grid-template-columns: auto !important;
    width: 90vw;
  }
  .news__top {
    width: 90vw;
  }
  .news__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .news__item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .news__item:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .news__item:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .news__item:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5 / 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.feedback {
  padding: 90px 0;
}

.feedback__top {
  margin-bottom: 40px;
}

.feedback__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #312b2b;
  margin-bottom: 0;
}

.feedback__list {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.feedback__item {
  padding: 0 15px;
}

.feedback__border {
  padding: 23px 25px 35px 20px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
          box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
  border-radius: 2px;
}

.feedback__item-img-box {
  width: 100%;
  height: 100%;
  max-width: 75px;
  max-height: 75px;
  margin-right: 25px;
}

.feedback__item-img-box img {
  width: 100%;
  height: 100%;
}

.feedback__name-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.feedback__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 165%;
  color: #312b2b;
  margin-bottom: 2px;
}

.feedback__job {
  font-weight: 500;
  font-size: 16px;
  line-height: 165%;
  color: #514a4a;
}

.feedback__star-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feedback__star-item:not(:last-child) {
  margin-right: 8px;
}

.feedback__star-item .bx {
  color: #fbbe07;
}

.feedback__item-info {
  margin-bottom: 22px;
}

.feedback__inner-div {
  position: relative;
}

.feedback__inner-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  color: #8d8d8d;
  z-index: 10 !important;
  position: relative;
  z-index: 10;
}

.feedback__text-img-holder {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  width: 60px;
  height: 50px;
  max-width: 100%;
  max-height: 100%;
}

.feedback__text-img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback__bottom {
  overflow-x: hidden;
  height: 300px;
  padding-top: 10px;
}

@media screen and (max-width: 1400px) {
  .feedback .container {
    width: 100%;
    max-width: 100vw;
  }
}

@media screen and (max-width: 1300px) {
  .feedback .container {
    width: 100%;
    max-width: 100vw;
  }
  .feedback__top {
    width: 90vw;
    margin: 0 auto;
  }
  .feedback__bottom {
    width: 95vw;
    margin-right: 0 !important;
    overflow: hidden;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .feedback .container {
    width: 100%;
    max-width: 100vw;
  }
  .feedback__item {
    width: 100%;
  }
  .feedback__top {
    width: 90vw;
    margin: 0 auto;
  }
  .feedback__bottom {
    width: 98vw;
    margin-right: 0 !important;
    overflow: hidden;
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .feedback .container {
    width: 100%;
    max-width: 100vw;
  }
  .feedback__item {
    width: 100%;
    height: auto;
  }
  .feedback__top {
    width: 80vw;
    margin: 0 auto;
  }
  .feedback__bottom {
    width: 90vw;
    margin-right: 0 !important;
    overflow: hidden;
    margin: 0 auto;
  }
  .smth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about {
  padding: 80px 0 84px;
  background: #f9f9f9;
  border-radius: 150px 0px;
}

.about__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #312b2b;
  margin-right: 78px;
  margin-bottom: 0;
}

.about__img-box {
  width: 100%;
  height: 100%;
  max-width: 130px;
  height: 60px;
  margin-right: 30px;
}

.about__img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__found {
  font-weight: 600;
  font-size: 18px;
  line-height: 165%;
  color: #514a4a;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.about__year {
  margin-left: 5px;
  font-size: 24px;
  color: #fbbe07;
}

.about__select {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.about__select:focus {
  outline: none;
}

.about__top {
  margin-bottom: 62px;
}

.about__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about__item-img-box {
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 60px;
  margin-right: 20px;
}

.about__item-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__inner-num {
  font-weight: 700;
  font-size: 24px;
  line-height: 165%;
  color: #514a4a;
  margin-bottom: 1px;
}

.about__inner-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 165%;
  color: #8d8d8d;
  margin-bottom: 0;
}

.about__map-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__location-holder {
  font-weight: 600;
  font-size: 17px;
  line-height: 165%;
  color: #312b2b;
}

.about__location-holder img {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 5px;
}

.hudjang {
  position: absolute;
  left: 180px !important;
  top: 40px !important;
}

.dushanbe {
  position: absolute;
  top: 180px;
  left: 120px;
}

.boxtar {
  position: absolute;
  top: 250px;
  left: 115px;
}

.xorog {
  position: absolute;
  top: 290px;
  left: 310px;
}

@media screen and (max-width: 1300px) {
  .about__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__list {
    width: 100%;
    margin-bottom: 30px;
  }
  .about__map-holder {
    width: 100%;
  }
  .about__location-holder {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .about__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__title {
    width: 50%;
    margin-bottom: 30px;
  }
  .about__img-box {
    width: 50%;
    margin-bottom: 30px;
  }
  .about__found {
    width: 50%;
  }
  .about__btn {
    width: 50%;
  }
  .about__location-holder {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .about__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__title {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }
  .about__img-box {
    width: 100% !important;
    margin-bottom: 30px;
    margin: 0 auto;
  }
  .about__found {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    margin-top: 20px;
  }
  .about__btn {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .about__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .about__title {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
  }
  .about__img-box {
    width: 100% !important;
    margin-bottom: 30px;
    margin: 0 auto;
  }
  .about__found {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    margin-top: 20px;
  }
  .about__btn {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  .about__location-holder {
    display: none !important;
  }
  .about__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
  .about__map-holder img {
    width: 100%;
    height: 100%;
  }
}

.partner {
  padding: 90px 0;
}

.partner__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #312b2b;
  margin-bottom: 0;
}

.partner__top {
  margin-bottom: 40px;
}

.partner__list {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.partner__item {
  padding: 0 15px;
}

.partner__border {
  background: #fff;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
          box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
  border-radius: 2px;
  padding: 45px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.partner__bottom {
  overflow: hidden;
  height: 190px;
  padding-top: 5px;
}

@media screen and (max-width: 1500px) {
  .partner .container {
    max-width: 100%;
  }
  .partner__top {
    width: 95vw;
  }
  .partner__bottom {
    width: 95vw;
  }
  .partner__item {
    width: 33%;
  }
}

@media screen and (max-width: 992px) {
  .partner .container {
    max-width: 100%;
  }
  .partner__top {
    width: 95vw;
  }
  .partner__bottom {
    width: 95vw;
  }
  .partner__item {
    width: 33%;
  }
}

@media screen and (max-width: 768px) {
  .partner .container {
    max-width: 100%;
  }
  .partner__top {
    width: 95vw;
  }
  .partner__bottom {
    width: 95vw;
  }
  .partner__item {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .partner .container {
    max-width: 100%;
  }
  .partner__title {
    font-size: 24px;
  }
  .partner__top {
    width: 80vw;
  }
  .partner__bottom {
    width: 85vw;
  }
  .partner__item {
    width: 100%;
  }
}

.footer {
  background-color: #2f2e33;
  padding: 36px 0 25px;
  padding-bottom: 0;
}

.footer__logo-box {
  width: 100%;
  height: 100%;
  max-width: 173px;
  max-height: 80px;
  margin-bottom: 40px;
}

.footer__logo-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 165%;
  color: #fff;
  max-width: 285px;
  margin-bottom: 44px;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-item .bx {
  font-size: 30px;
  color: #fbbe07;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 311px;
}

.footer__item .bx {
  margin-right: 9px;
  font-size: 20px;
  color: #fbbe07;
}

.footer__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__item-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-time {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.link-list {
  margin-bottom: 30px;
}

.footer__guideline {
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  color: #fbbe07;
  margin-bottom: 14px;
}

.footer__top {
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.329);
}

.footer__bottom {
  padding-top: 25px;
}

.footer__copyright {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #fff;
}

.footer__creator-box {
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  color: #fff;
}

.footer__creator-box span {
  color: #9e9e9e;
}

@media screen and (max-width: 992px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__logo-part {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer__contact {
    width: 50%;
  }
  .footer__useful-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__logo-part {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__contact {
    width: 100%;
  }
  .footer__useful-links {
    width: 100%;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */